@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root {
    --button-color: #4ece77;
}

body {
background-image: url(bkgimg.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
font-family: Lato, sans-serif;
}

.container {
display: flex;
margin-top: 5%;
}

.form {
margin: 0 auto;
background: #ffffff;
border-radius: 30px;
max-width: 300px;
width: 50%;
padding: 30px 40px;
text-align: center;
}
  
.title {
margin: 20px;
}
  
.subtitle {
font-size: 14px;
}
  
.text {
background: #bcd0bc;
margin-top: 20px;
font-size: 24px;
border-radius: 10px;
min-height: 60px;
}
    
p {
padding: 40px 20px;
margin-bottom: 0;
}
  
input {
background: gray;
outline: none;
border: none;
padding: 10px 20px;
color: #ffffff;
border-radius: 5px;
cursor: pointer;
transition: background ease 0.25s;
}
  
input:hover {
background: #20bc73;
}